.Button{
    background-color: yellowgreen;
    padding: 20px,10px;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border: none;
    color: white;
    font-size: 20px;
    transition:0.3s;
    display: block;
    margin:auto auto;

}
.Button:hover{
    cursor: pointer;
    background-color: green;
}